<form>
  <div class="col-6">
    <div class="row">
        <div class="col-4"><h6>Account Name:</h6></div>
        <input type="text" class="form-control" id="accountName" placeholder="Account Name">
    </div>

    <div class="row">
        <div class="col-4"><h6>Account Email:</h6></div>
        <input type="text" class="form-control" id="accountEmail" placeholder="Account Email">
    </div>

    <div class="row">
        <div class="col-4"><h6>Phone Number:</h6></div>
        <input type="phone-number" class="form-control" id="phoneNumber" placeholder="Phone Number">
    </div>
</div>
<div class="col-6">
    <h3>Billing Address</h3>
    <div class="row">
        <div class="col-12">
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
          <div class="col-4"><h6>City:</h6></div>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-4">
          <div class="col-4"><h6>Zipcode:</h6></div>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-4">
          <div class="col-4"><h6>State</h6></div>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>        </div>
    </div>
</div>
</form>
