<h3>Couples Plans</h3>
<div *ngFor="let plan of plans">
  <h5>{{plan.planName}}</h5>
  <div class="row">
    <div class="col-8">{{plan.description}}</div>
    <div class="col-4">
      ${{plan.price | number:'.2-2'}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 offset-6"><app-button btnClass="btn btn-primary Button Button1" text="Devices"></app-button></div>
    <div class="col-sm-3"><app-button btnClass="btn btn-primary Button Button1" text="Remove Plan"></app-button></div>
  </div>
</div>
