<h2>Account Settings</h2>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-4"><h6>Account Name:</h6></div>
            <div class="col-6"><p>Taylor Wendell</p></div>
        </div>

        <div class="row">
            <div class="col-4"><h6>Account Email:</h6></div>
            <div class="col-6"><p>taylorlwendell@gmail.com</p></div>
        </div>

        <div class="row">
            <div class="col-4"><h6>Phone Number:</h6></div>
            <div class="col-6"><p>000-000-0000</p></div>
        </div>
    </div>
    <div class="col-6">
        <h3>Billing Address</h3>
        <div class="row">
            <div class="col-6">
                <p>Address Line 1</p>
            </div>
            <div class="col-6">
                <p>Address Line 2</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>City</p>
            </div>
            <div class="col-4">
                <p>Zipcode</p>
            </div>
            <div class="col-4">
                <p>State</p>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 Button" type="button">Edit Account</button>
            <button class="btn btn-primary Button" type="button">Delete Account</button>
        </div>
    </div>
</div>
<br/><br/>
<app-account-settings-form></app-account-settings-form>