<h1>My Account</h1>
<div class="Container row">
    <div class="col-4">
        <ul class="Button-List">
            <li><button class="Button">My Plans</button></li>
            <br/>
            <li><button class="Button">My Devices</button></li>
            <br/>
            <li><button class="Button">My Bills</button></li>
            <br/>
            <li><button class="Button">Account Settings</button></li>
        </ul>
    </div>
    <div class="col-8">
        <app-account-content></app-account-content>
    </div>
</div>