<div class="row">
    <div class="col-4">
        <img class="logo" src="../../assets/logo.png">
    </div>
    
    <div class="col-8">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <h1 class="vert">Hero Statement</h1>
        <h3 class="vert">Product Description</h3>
    </div>
    
</div>
<div class="Container">
    <h1 style="text-align: center;">Application Features</h1>
    <br/>
    <div class="row">
        <div class="col-8">
            <h2>Plan Features</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet mattis vulputate enim nulla aliquet porttitor. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Sit amet volutpat consequat mauris nunc congue nisi. Ultrices eros in cursus turpis massa tincidunt. Luctus accumsan tortor posuere ac ut. Diam sit amet nisl suscipit adipiscing. Neque aliquam vestibulum morbi blandit cursus. Nunc congue nisi vitae suscipit tellus. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Fringilla urna porttitor rhoncus dolor purus non enim. Vel turpis nunc eget lorem. Est sit amet facilisis magna etiam tempor orci.
            <br/><br/>
            Ut diam quam nulla porttitor. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Et pharetra pharetra massa massa. Vitae tempus quam pellentesque nec nam aliquam sem et tortor. Morbi quis commodo odio aenean. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Nec dui nunc mattis enim ut tellus elementum.</p>
        </div>
        <div class="col-4">
            <img class="image" src="../../assets/plan.png">
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div style="justify-content: center;" class="col-4">
            <img class="image" src="../../assets/phone.png">
        </div>
        <div class="col-8">
            <h2>Device Features</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet mattis vulputate enim nulla aliquet porttitor. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Sit amet volutpat consequat mauris nunc congue nisi. Ultrices eros in cursus turpis massa tincidunt. Luctus accumsan tortor posuere ac ut. Diam sit amet nisl suscipit adipiscing. Neque aliquam vestibulum morbi blandit cursus. Nunc congue nisi vitae suscipit tellus. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Fringilla urna porttitor rhoncus dolor purus non enim. Vel turpis nunc eget lorem. Est sit amet facilisis magna etiam tempor orci.
            <br/><br/>
            Ut diam quam nulla porttitor. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Et pharetra pharetra massa massa. Vitae tempus quam pellentesque nec nam aliquam sem et tortor. Morbi quis commodo odio aenean. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Nec dui nunc mattis enim ut tellus elementum.</p>
        </div>
    </div>

    
</div>
