<h1>Phone Plans</h1>
<div class="Container row">
    <div class="col-4">
        <ul class="Button-List">
            <li><button class="Button">My Plans</button></li>
            <br/>
            <li><button class="Button">Individual Plans</button></li>
            <br/>
            <li><button class="Button">Couples Plans</button></li>
            <br/>
            <li><button class="Button">Family Plans</button></li>
        </ul>
    </div>
    <div class="col-8">
        <app-phone-plan></app-phone-plan>
    </div>
</div>