<h3>Header</h3>
<p>Changes content on button presses</p>

<!--Replace with *ngFor to generate the plans-->
<div class="Plan">
    <h6>Plan Name</h6>
    <div class="row justify-content-between">
        <div style="float: left;" class="col-10"><p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
        <div style="float: right;" class="col-2 "><h6>Price: $##</h6></div>
    </div>
    <!-- Replace with *ngIf to generate buttons if it's my plans or not-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2 Button" type="button">View Plan</button>
        <button class="btn btn-primary Button" type="button">Buy Plan</button>
    </div>
</div>

<div class="Plan">
    <h6>Plan Name</h6>
    <div class="row justify-content-between">
        <div style="float: left;" class="col-10"><p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
        <div style="float: right;" class="col-2 "><h6>Price: $##</h6></div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2 Button" type="button">View Plan</button>
        <button class="btn btn-primary Button" type="button">Buy Plan</button>
    </div>
</div>

<div class="Plan">
    <h6>Plan Name</h6>
    <div class="row justify-content-between">
        <div style="float: left;" class="col-10"><p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
        <div style="float: right;" class="col-2 "><h6>Price: $##</h6></div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2 Button" type="button">View Plan</button>
        <button class="btn btn-primary Button" type="button">Buy Plan</button>
    </div>
</div>